body {
    background-color: #FFFDF7;
    font: normal normal medium 36px/48px Roboto;
}

#final-project{
    font-family: Roboto, sans-serif;
}

.meals-packages-top-heading-paragrapgh-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 0 22rem;
}

.top-nav-bar {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    padding-top: 20px; 
    gap: 22px;
    font-size: 13px;
}

.meals-packages-packs {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 12px;
}


.meals-quantity-card{
    width: 278px; 
    height: 209px;
}

.shipping-text{
    margin-top: 100px;
}

.meal-price-text {
    color: #D75D33;
}

.total-meals-card-img-top {
    cursor: pointer;
    transition: transform .2s;
}

.total-meals-card-img-top:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.shipping-text-btn {
    width: 150px; 
    height: 42px; 
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
}

.shipping-text-btn:hover {
    width: 390px !important;
}


.delievery-dates-container{
    width: 24rem;
}

.delievery-dates-li {
    cursor: pointer; 
    font-size: 12px;
    border-left: 1px solid #707070 !important;
    border-top: 1px solid #707070 !important;
    border-bottom: none !important ;
}

.delievery-date-most-popular, .order-summary-card-li, .cart-summary-li, .bottom-cart-content {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.delievery-date-most-popular-text {
    color: #D75D33; 
    font-size: 10px;
}
.meal-delievery-card {
    width: 300px; 
    height: 255px; 
    margin: 0 auto; 
    float: none; 
    background-color: transparent;
    border-bottom: none !important ;
}

.section-2-next-btn {
    width: 19rem; 
    height: 40px; 
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
    font-size: 14px;
}


/* Apply bold font weight to accordion buttons */
.accordion-body {
    padding: 1rem 5.2rem !important;
}
.accordion-button, .accordion-collapse {
    font-weight: bold;
    background-color: #FFFDF7 !important; 
    font-size: 14px;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 30' fill='%23D75D33'%3E%3Cpath d='M12 15a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 12.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 12 15z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed) {
    color: #D75D33;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 30' fill='%23D75D33'%3E%3Cpath d='M12 15a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 12.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 12 15z'/%3E%3C/svg%3E");
}

.row {
    --bs-gutter-x: 0 !important;
}

.checkout-form-row {
    --bs-gutter-x: 0.9rem !important;
}

form label {
    font-size: 14px;
}

.meals-cards-body{
    padding: 0.8rem 0.5rem !important;
}

/* .delievery-date-btn-container {
    background-color: #D75D33;
} */

.clicked-parent {
    background-color: #D75D33;
}

.delievery-date-btn.clicked {
    margin-left: 5px;
}

.delievery-date-btn:hover {
    /* Ensure only margin change on hover */
    margin-left: 5px;
}

.delievery-day-hr {
    margin: 5rem !important;
}

.checkout-btn {
    width: 100%;
    height: 40px; 
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
}

.divider {
    border-left: 1px solid #b6b3b3;
    height: 30px;
}

.order-summary-card {
    width: 100%;
    border-radius: 0 !important;
}

.promo-code {
    color: #3167FF; 
    text-decoration: underline; 
    font-size: 15px;
    cursor: pointer;
}

.my-meals-summary-card-li {
    display: flex; 
    flex-direction: row; 
    justify-content: start;
    gap: 18px;
    padding: 0.3rem 1rem !important;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    background-color: #D75D33;
    border-color: transparent !important;
    padding: 2px 3px !important;
}

.my-meals-summary-card-li-quantity {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.my-meals-summary-card-li-content {
    display: flex !important; 
    flex-direction: column !important;
    justify-content: center !important;
}

.my-meals-summary-ingredients {
    color: #707070; 
    font-size: 12px;
}

.promo-input {
    display: none;
}

.step-btn button:disabled {
    opacity: 0.6; /* Adjust the opacity value as needed */
}

.meals-cards-row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 8px;
}

.meals-cards {
    width: 233px; 
    height: 242px;
    margin-bottom: 8px !important;
    border-radius: 0px !important;
}

.meal-card-img {
    height: 135px;
}

.meal-cards-minerals {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    font-size: 10px; 
    color: #707070;
}

.special-meal-card {
    width: 233px; 
    height: 242px; 
    background: black;
}

.add-btn {
    font-size: 12px; 
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box; 
    margin-bottom: 10px; 
    margin-left: 3px;
}

.checkout-section-container {
    margin-left: 5rem !important;
}

.special-meal-card-overlay {
    margin-top: 7.3rem !important; 
    padding: 0;
}

.special-meal-card-overlay-price {
    font-size: 12px; 
    background: #D75D33;
}

.special-meal-card-title {
    font-size: 14px; 
    color: white;
}

.special-meal-card-ingredients {
    font-size: 12px; 
    color: white;
}

.special-meal-card-minerals {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    font-size: 10px; color: white;
}

.clear-all-btn {
    font-size: 12px; 
    color: #3167FF;
    cursor: pointer;
}

.bottom-cart {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    border-radius: 15px; 
    margin-top: auto;
}

.next-cart-btn {
    height: 40px; 
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
}

.zip-code-change {
    color: #3167FF; 
    text-decoration: underline; 
    font-size: 13px; 
    cursor: pointer;
}

.section-4-divider {
    margin-left: 4rem !important;
    margin-right: 5rem !important;
}
  
@media only screen and (max-width: 992px) {
    .next-button {
        width: 19.7rem !important;
    }
    .top-nav {
        gap: 9px !important;
        font-size: 13px;
    }
    .meals-packages-top-heading-paragrapgh-container {
        padding: 0;
    }
    .meals-packages-heading {
        padding: 0 4rem;
    }
    .meals-packages-paragraph {
        padding: 0 1.5rem;
    }
    .meals-packages-packs {
        gap: 8px;
    }
    .meals-quantity-card{
        width: 167px !important;
        height: 125px !important;
    }
    .offer-text {
        width: 60% !important;
        font-size: 11px !important;
    }
    .meal-pack {
        margin-bottom: 95px !important ;
    }
    h5 {
        font-size: 19px !important;
    }
    .list-group-item {
        font-size: 13px !important;
    }

    .per-week-text {
        font-size: 10px !important;
    }
    .shipping-text {
        margin-top: 20px !important;
    }
    .shipping-text-btn {
        width: 100% !important;
    }
    .meal-delievery-card{
        width: auto !important;
        height: 17rem !important;
        margin: 0px 36px !important;
        margin-top: 40px !important;
    }
    .delievery-day-hr {
        margin: 3rem 0 !important;
    }
    .accordion {
        margin: 3rem 0 !important;
        padding: 0 !important;
    }
    .accordion-body {
        padding: 1rem 1.2rem !important;
    }
    .checkout-form {
        margin: 2rem 0 !important;
        padding: 0 !important;
    }
    .checkout-heading, .order-summary-heading, .my-meals-heading {
        font-size: 30px;
    }
    .checkout-btn {
        max-width: none; /* Remove max-width for smaller screens */
    }
    .order-summary-card{
        width: 100% !important;
    }
    .main-cart{
      display: none !important;
    }
    .meals-cards{
        width: auto !important;
    }
    .add-btn {
        width: 20% !important;
    }
    .cart-column{
        background: transparent !important;
    }
    #checkout{
        margin : 0 12px !important
    }
    .checkout-section-container {
        margin : 0 !important
    }
    .section-4-divider {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .checkout-form-row {
        padding: 0 0.6rem !important;
    }
}

@media (min-width:768px) {
    .checkout-form {
        margin:  0 !important;
        padding: 0 1.5rem !important;
    }
    .my-meals-summary-card-li {
        padding: 0 !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1366px) {
    .next-button {
        width: 19.7rem !important;
    }
    .offer-text {
        width: 40% !important;
        font-size: 11px !important;
    }
    .meals-packages-top-heading-paragrapgh-container,.meals-packages-heading {
        padding: 0;
    } 
    .meals-packages-paragraph {
        padding: 0px 9.5rem !important;
    }
    .meals-packages-packs {
        gap: 8px;
    }
    .meals-quantity-card{
        width: 238px !important;
        height: 125px !important;
    }
    .meal-pack {
        margin-bottom: 95px !important ;
    }
    .meal-delievery-card{
        width: auto !important;
        height: 17rem !important;
        margin: 0px 36px !important;
        margin-top: 40px !important;
    }
    .delievery-day-hr {
        margin: 3rem 0 !important;
    }
    .accordion {
        margin: 3rem 0 !important;
        padding: 0 !important;
    }
    .accordion-body {
        padding: 1rem 1.2rem !important;
    }
    .checkout-section-container {
        margin-left : 1rem !important
    }
    .section-4-divider {
        margin-left: 1rem !important;
        margin-right: 2rem !important;
    }
    .my-meals-summary-card-li {
        padding: 0.3rem 1rem !important;
    }
    .meals-cards,.special-meal-card {
        width: 216px;
    }
    .meals-cards-body {
        padding: 0.9rem 0.1rem !important;
    }
}

@media only screen and (min-width: 1025px) {
    .meals-packages-top-heading-paragrapgh-container,.meals-packages-heading{
        padding: 0;
    } 
    .meals-packages-paragraph {
        padding: 0px 14.6rem !important;    
    }
    .accordion-body {
        padding: 1rem 1rem !important;
    }
    .checkout-section-container {
        margin-left : 3rem !important
    }
    .section-4-divider {
        margin-left: 2rem !important;
        margin-right: 3rem !important;
    }
    .my-meals-summary-card-li {
        padding: 0.3rem 1rem !important;
    }
}

@media only screen and (min-width: 1280px) {
    .meals-packages-top-heading-paragrapgh-container,.meals-packages-heading {
        padding: 0;
    } 
    .meals-packages-paragraph {
        padding: 0px 18.5rem !important;
    }
    .accordion-body {
        padding: 1rem 5rem !important;
    }
    .checkout-section-container {
        margin-left : 5rem !important
    }
    .section-4-divider {
        margin-left: 4rem !important;
        margin-right: 5rem !important;
    }
    .my-meals-summary-card-li {
        padding: 0.3rem 1rem !important;
    }
}




